  :host{
    .content{
        padding-top: 10px;
    }
    
    .row{
        display: flex;
        gap: 10px;
    
        mat-form-field{
            width: 100%;
        }
    }
    
    
    .formButton {
        min-width: 150px; 
        margin-right: 10px; 
      }
      
      .action {
        padding: 0px 200px 20px; 
      }
  }